@model OficinaWeb.Data.Entities.Mechanic

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mechanic</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specialty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specialty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfessionalContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfessionalContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClockIn)
        </dt>
        <dd class = "col-sm-10">
            @($"{Model.ClockIn.Hours:D2}:{Model.ClockIn.Minutes:D2}")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClockOut)
        </dt>
        <dd class = "col-sm-10">
            @($"{Model.ClockOut.Hours:D2}:{Model.ClockOut.Minutes:D2}")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-success">Edit</a>
    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
</div>
