@model OficinaWeb.Models.AppointmentHistoryViewModel
@{
    ViewData["Title"] = "AppointmentHistory";
}

<h1 style="margin-bottom: 20px;">Appointment History</h1>

<div class="table-container">
    <table class="table" id="MyTable">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Appointments.First().AppointmentType)</th>
                <th>@Html.DisplayNameFor(model => model.Appointments.First().Date)</th>
                <th>Time Slot</th>
                <th>@Html.DisplayNameFor(model => model.Appointments.First().Client)</th>
                <th>@Html.DisplayNameFor(model => model.Appointments.First().Vehicle)</th>
                <th>@Html.DisplayNameFor(model => model.Appointments.First().Mechanic)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Appointments)
            {
                <tr style="transition: background 0.2s;">
                    <td>@item.AppointmentType</td>
                    <td>@item.Date.ToString("dd-MM-yyyy")</td>
                    <td>@($"{item.Date:HH\\:mm} / {item.AppointmentEnd:hh\\:mm}")</td>
                    <td>@Html.DisplayFor(modelItem => item.Client.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Vehicle.VehicleDescription)</td>
                    <td>@Html.DisplayFor(modelItem => item.Mechanic.Name)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                paging: true,
                searching: true,
                info: false,
                lengthChange: false,
                language: {
                    search: "",
                    searchPlaceholder: "Search appointments..."
                },
                dom: 'ftip'
            });
        });
    </script>
}
